<strong> Olá, {{ user }} </strong>
<p> Você está inscrito em uma nova Meetup. Confira os detalhes abaixo:</p>
<p>
  <strong> Meetup: </strong> {{ title }} <br />
  <strong> Descrição: </strong> {{ description }} <br />
  <strong> Data/Hora: </strong> {{ date }} <br />
  <strong> Local: </strong> {{ local }} <br />
  <br />
  <small>
    Fique atento aos local e horário indicados acima e aproveite o seu evento.
  </small>
</p>
