<strong> Olá, {{ user }} </strong>
<p> Dados Atualizados. Confira os detalhes abaixo:</p>
<p>
  <strong> Meetup: </strong> {{ title }} <br />
  <strong> Descrição: </strong> {{description}} <br />
  <strong> Data/Hora: </strong> {{ date }} <br />
  <strong> Local: </strong> {{ local }} <br />
  <br />
  <small>
    Se você não foi o responsável por esta atualização,
    entre em contato com a nossa equipe de suporte
  </small>
</p>
